@import url('https://fonts.googleapis.com/css2?family=Rowdies&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Rowdies&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --violate:#6C22A6;
    --liteViolate:#6962AD;
    --shadeGreen:#83C0C1;
    --green:#96E9C6;
}
body{
    padding: 0;
    margin: 0;
}

#signinPage{
    background-color: var(--shadeGreen);
    height: 100vh;
    width: 100vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    padding: 70px;
}
#signinPage #img{
    background-image: url(../Assets/loginPic.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#signinPage #form{
    background-color:var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#signinPage h1{
    font-family: "Dancing Script", cursive;
    font-weight: 900;
    margin-bottom: 40px;
    font-size: 50px;
    color: var(--violate);
}
#signinPage #form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#signinPage #form form div{
    width: 350px; 
    font-size: 20px;
    color: var(--liteViolate);
}
#signinPage #form form div input{
    background-color: transparent;
    outline: none;
    border: 2px solid var(--violate);
    border-radius: 30px;
}
#signinPage #form form #btnTag {
    display: flex;
    flex-direction:column;
    border-bottom: 1px solid var(--violate);
}
#signinPage #form form #btnTag a{
    text-align: end;
    text-decoration: none;
    color: var(--liteViolate);
    font-size: 16px;
}
#signinPage #form form #btnTag button{
    width: 200px;
    align-self: center;
    border-radius: 30px;
    font-size: 22px;
    background-color:var(--violate);
    color: var(--green);
}
#signinPage #form form #signup a{
    text-decoration: none;
    color: var(--liteViolate);
}

@media (max-width: 767px){
    #signinPage{
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('../Assets/loginPic.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
    }
    #signinPage #img{
        background: none;
    }
    #signinPage #form{
        height: 70vh;
        position: relative;
        bottom: 100px;
        width: auto;
        margin: auto;
        background-color: var(--green);
        opacity: 0.9;
    }
    #signinPage #form form div{
        width: 50vw; 
    }
}
@media (max-width: 580px){
    #signinPage #form form div{
        width: 75vw; 
    }
    #signinPage #form form #btnTag button{
        width: 50vw;
    }
    #signinPage #form form #signup a{

    }
}