@import url('https://fonts.googleapis.com/css2?family=Rowdies&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Rowdies&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root{
    --violate:#200E3A;
    --liteViolate:#38419D;
    --shadeGreen:#52D3D8;
    --green:#3887BE;
}
nav{
    background-color:var(--violate);
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
}
nav .navbar-brand{
    font-size: 28px;
    color: var(--shadeGreen);
    font-weight: 900;
    font-style: italic;
    font-family: "Indie Flower", cursive;

}
#navbarNav #elements{
    flex: 3;
    justify-content: center;
}
#navbarNav #elements li{
    margin-left: 10px;
    margin-right: 10px;
}
#navbarNav #elements #links{
    color: var(--shadeGreen);
    font-size: 21px;
}
#navbarNav #elements #links:hover{
    color: var(--green);
    border-bottom: 1px solid var(--green);
}
#navbarNav #nav-buttons{
    margin-right: 20px;
}
#navbarNav #nav-buttons #links{
    margin-right: 10px;
    color: var(--shadeGreen);
    font-Size:1.5em;
}
#navbarNav #nav-buttons #links:hover{
    color: var(--green);
}
#navbarNav #nav-buttons #signin{
    background-color: var(--shadeGreen);
    height:40px;
    width: 80px;
}
#navbarNav #nav-buttons #signin:hover{
    background-color: var(--green);
}