@import url('https://fonts.googleapis.com/css2?family=Rowdies&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Rowdies&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --violate:#200E3A;
    --liteViolate:#38419D;
    --shadeGreen:#52D3D8;
    --green:#3887BE;
}
body{
    padding: 0;
    margin: 0;
}
#services-page #img{
    background: linear-gradient(to right, rgba(60, 56, 56, 0.8), rgba(0, 0, 0, 0.6)),url("https://th.bing.com/th/id/R.c933d814a5b70f861650af4174b42693?rik=25bm10LYw1a4Ow&pid=ImgRaw&r=0");
    height: 35vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#services-page #img h1{
    position: relative;
    top: 150px;
    color: rgb(241, 238, 238);
    text-shadow: 0px 1px 0px #52D3D8,
                0px 2px 0px #52D3D8,
                0px 3px 0px #52D3D8,
                0px 4px 0px #52D3D8,
                0px 5px 0px #52D3D8,
                0px 6px 0px #52D3D8;
    font-family: "Dancing Script", cursive;
    font-size: 90px;
    font-weight: bolder;
}
#services-page #img p{
    position: relative;
    top: 140px;
    color: rgb(241, 238, 238);
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    
}
