@import url('https://fonts.googleapis.com/css2?family=Rowdies&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Rowdies&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --violate:#200E3A;
    --liteViolate:#38419D;
    --shadeGreen:#52D3D8;
    --green:#3887BE;
}

#services{
    background-color: var(--shadeGreen);
    font-family: "Ubuntu", sans-serif;
}
#services h1{
    color:var(--violate);
    font-family: "Ubuntu", sans-serif;
    font-weight: bolder;
}
#services h2{
    color: var(--violate);
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    text-decoration: underline;
}
#services #service #freeImg{
    width: 80px;
    height: 80px;
    
}
#services .card{
    background-color: var(--green);
    border: 15px solid var(--green);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
#services .card h4{
    font-family: "Ubuntu", sans-serif;
    font-weight: bolder;
}
#services .card p{
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
}
#services .card #price{
    font-size: 16px;
}
#services .card #price span{
    text-decoration: line-through;
    color: red;
    font-size: 22px;
}
#services .card #btn{
    margin: 5px;
}
#online-services div #service{
    border: 2vw solid var(--shadeGreen);
    background-color: var(--green);
    text-decoration: none;
    color: black;
    font-family: "Ubuntu", sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    box-shadow: inset -2px -2px 6px 0px rgba(0, 0, 0, 0.5);
    height: 500px;
}
#online-services div #service:hover{
    background-color: #2890db;
}
#live-sessions div #session{
    border: 2vw solid var(--shadeGreen);
    background-color: var(--green);
    text-decoration: none;
    color: black;
    font-family: "Ubuntu", sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    box-shadow: inset -2px -2px 6px 0px rgba(0, 0, 0, 0.5);
 
}
#live-sessions div #session:hover{
    background-color: #57a384;
}
#live-sessions div #session img{
    
}