.admin{
    display: flex;
}
.adminContents{
    flex: 1;
    overflow-y: auto;
}
.adminVerticalNav{
    flex: 0 0 200px;
    
}
.instructer{
    display: flex;
}
.EmployeeVerticalNav{
    flex: 0 0 200px;
}
.intructerContents{
    flex: 1;
    overflow-y: auto;

}