#img{
    background-image: url("https://th.bing.com/th/id/R.c933d814a5b70f861650af4174b42693?rik=25bm10LYw1a4Ow&pid=ImgRaw&r=0");
    height: 35vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}